@{
    ViewBag.Title = "Animals";
}


 <style>
        .tags {
            margin: 0 -5%;
            padding: 0;
            list-style: none;
            letter-spacing: -5px;
            text-align: center;
            font-size: 15px;
            line-height: 18px;
        }

            .tags li {
                width: 20%;
                display: inline-block;
                vertical-align: top;
                padding: 10px 0;
                margin: 0 1% 20px;
                border: 1px solid #ccc;
                letter-spacing: normal;
            }

                .tags li img {
                    max-width: 100px;
                    margin: 0 auto 10px;
                    display: block;
                }

                .tags li a {
                    display: inline-block;
                    vertical-align: top;
                }
    </style>
    
    <div class="bs-example">
        @Html.Partial("~/Views/Shared/navigationbar_login.cshtml");
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <a href="/Home/index/?a=Dogs" class="thumbnail">
                        Dogs
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="/Home/index/?a=Aquariums" class="thumbnail">
                        Aquariums
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="/Home/Index/?a=Birds" class="thumbnail">
                        Birds
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="/Home/index/?a=Cats" class="thumbnail">
                        Cats
                    </a>
                </div>
                  <div class="col-xs-3">
                    <a href="/Home/index/?a=Pet_Food" class="thumbnail">
                        Pet Food
                    </a>
                </div>
                  <div class="col-xs-3">
                    <a href="/Home/index/?a=Other_Animals" class="thumbnail">
                        Other Animals
                    </a>
                </div>
                 
            </div>
        </div>
    </div>
</body>
