@{
    ViewBag.Title = "Index";
}


    <style>
        .tags {
            margin: 0 -5%;
            padding: 0;
            list-style: none;
            letter-spacing: -5px;
            text-align: center;
            font-size: 15px;
            line-height: 18px;
        }

            .tags li {
                width: 20%;
                display: inline-block;
                vertical-align: top;
                padding: 10px 0;
                margin: 0 1% 20px;
                border: 1px solid #ccc;
                letter-spacing: normal;
            }

                .tags li img {
                    max-width: 100px;
                    margin: 0 auto 10px;
                    display: block;
                }

                .tags li a {
                    display: inline-block;
                    vertical-align: top;
                }
    </style>

    <div class="bs-example">
        <div class="container">
            @Html.Partial("~/Views/Shared/navigationbar_login.cshtml");
            <div class="row">
                <div class="col-xs-3">
                    <a href="/Home/Mobile_Tablets" class="thumbnail">
                        Mobiles & Tablets
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="/Home/Electronics_Computer" class="thumbnail">
                        Electronics & Computer
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="/Home/Vehicals" class="thumbnail">
                        Vehicals
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="/Home/Home_Furnitures" class="thumbnail">
                        Home & Furniture
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="/Home/Animals" class="thumbnail">
                        Animals
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="/Home/Books_Sports" class="thumbnail">
                        Books, Sports & Hobbies
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="/Home/Fasion_Beauty" class="thumbnail">
                        Fasion & Beauty
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="/Home/Kids" class="thumbnail">
                        Kids & Baby products
                    </a>
                </div>

                <div class="col-xs-3">
                    <a href="/Home/Jobs" class="thumbnail">
                        Jobs
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="/Home/RealEstate" class="thumbnail">
                        Real Estate
                    </a>
                </div>
            </div>
        </div>
    </div>


