@{
    ViewBag.Title = "Jobs";
}


<body> 
 <style>
        .tags {
            margin: 0 -5%;
            padding: 0;
            list-style: none;
            letter-spacing: -5px;
            text-align: center;
            font-size: 15px;
            line-height: 18px;
        }

            .tags li {
                width: 20%;
                display: inline-block;
                vertical-align: top;
                padding: 10px 0;
                margin: 0 1% 20px;
                border: 1px solid #ccc;
                letter-spacing: normal;
            }

                .tags li img {
                    max-width: 100px;
                    margin: 0 auto 10px;
                    display: block;
                }

                .tags li a {
                    display: inline-block;
                    vertical-align: top;
                }
    </style>
    
    <div class="bs-example">
        <div class="container">
            @Html.Partial("~/Views/Shared/navigationbar_login.cshtml");
            <div class="row">
                
                <div class="col-xs-3">
                    <a href="/Home/index/?a=Customer_Services" class="thumbnail">
                        Customer Services
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="/Home/index/?a=IT" class="thumbnail">
                       IT
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="/Home/index/?a=Online" class="thumbnail">
                        Online
                    </a>
                </div>
                  <div class="col-xs-3">
                    <a href="/Home/index/?a=Marketing" class="thumbnail">
                        Marketing
                    </a>
                </div>
                  <div class="col-xs-3">
                    <a href="/Home/index/?a=Advertising" class="thumbnail">
                        Advertising & PR
                    
                    </a>
                </div>
                  <div class="col-xs-3">
                    <a href="/Home/index/?a=Sales" class="thumbnail">
                        Sales
                    </a>
                </div>
                  <div class="col-xs-3">
                    <a href="/Home/index/?a=Clerical_Administration" class="thumbnail">
                        Clerical & Administration
                    </a>
                </div>
                  <div class="col-xs-3">
                    <a href="/Home/index/?a=Human_Resources" class="thumbnail">
                        Human Resources
                    </a>
                </div>
                  <div class="col-xs-3">
                    <a href="/Home/index/?a=Education" class="thumbnail">
                        Education
                    </a>
                </div>
                  <div class="col-xs-3">
                    <a href="/Home/index/?a=OtherJobs" class="thumbnail">
                        OtherJobs
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
