@{
    ViewBag.Title = "notsignup";
}

<h2>not signup</h2>
<text>Email Address already exist</text>
<form action="/home/temp", method="post">
    <input type="text" name="t1" placeholder="Enter Name" /> <br />

    <input type="password" name="t2" placeholder="Enter Password"/><br />
    <input type="email" name="t3" placeholder="Enter Email" /><br />
    
     <input type="submit" name="b" value="OK"/>
</form>

